<server name="Zia" version="1.0.0" port="1234">
        <modules>
                <SSLModule
                    tls_certificate_path="/home/fernandm/Epitech/C++/GitLab/CPP_zia_2018/SSLTestCertif/Test.csr"
                    tls_private_key_path="/home/fernandm/Epitech/C++/GitLab/CPP_zia_2018/SSLTestCertif/Test.key"/>
                <DEBUGModule/>
                <StaticModule/>
        </modules>
</server>
