<server name="Zia" version="1.0.0" port="1234">
        <modules>
                <SSLModule
                    certificate="/modules/SSLModule/dist/cert.crt"
                    privateKey="/modules/SSLModule/dist/private.key"/>
                <DEBUGModule/>
                <StaticModule/>
        </modules>
</server>
